* {
  font-family: "Times New Roman", Times, serif;
}
body {
  background-color: #c2c2c2;
}

h1 {
  background-color: #2b7a79;
  color: #ffffff;
  padding: 10px;
}

#wrapper {
  display: flex;
  background-color: #dedede;
  width: 100%;
  min-height: 570px;
  padding: 0px 10px;
  font-size: medium;
  font-weight: lighter;
}
ul {
  list-style-type: square;
}

li a {
  display: block;
  color: #0339ff;
}
#left {
  float: left;
  width: 15%;
  border-right: 2px solid #2b7a79;
  min-height: 550px;
}

#right {
  float: right;
  width: 85%;
  padding: 15px;
}

table,
th,
tr,
td {
  margin: 0 auto;
  border: 1px solid #2b7a79;
  border-collapse: collapse;
  padding: 2px;
}
table {
  overflow-x: auto;
}
th {
  background-color: #2b7a79;
  color: white;
}
.backgroundText {
  font-size: 7em;
  left: 275px;
  top: 90px;
  color: #ffc054;
  opacity: 0.6;
  position: absolute;
}
.foregroundText {
  z-index: 3;
  position: relative;
}

@media only screen and (max-width: 600px) {
  #left {
    width: 30%;
  }
  #right {
    width: 70%;
  }
  ul {
    padding: 20px;
  }
  table,
  th,
  tr,
  td {
    padding: 1px;
  }
  .backgroundText {
    font-size: 5em;
    left: 150px;
    top: 90px;
  }
}
